[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "external/ImGui"]
	path = external/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "external/SPIRV-Reflect"]
	path = external/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
