#Ignore
.vscode
Build/.qt/
Build/CMakeCache.txt
Build/.cache/
Build/CMakeFiles/
Build/Makefile
Build/PlaygroundLib/
Build/VulkanFun/CMakeFiles/
Build/VulkanFun/Makefile/
Build/ModernCppQTApp/   
Build/compile_commands.json

*.spv
*.cmake
Build/lib/
Build/tests/
Build/VulkanFun/Makefile
Build/VulkanFun/VulkanFun
Build/VulkanFun/external/
